---
import HomeLayout from "@/core/layout/HomeLayout.astro"
import { db } from "@/core/repository"
import {
  orderQuerySchema,
  pageQuerySchema,
  searchQuerySchema,
} from "@/core/schema/query-schema"
import CourseMainSection from "@/course/components/sections/CourseMainSection.astro"
import { courseTable } from "@/course/schema/course-schema"
import { semesterTable } from "@/semester/schema/semester-schema"
import { asc, count, desc, sql } from "drizzle-orm"
import { LuBook } from "react-icons/lu"

// Constants
const PAGE_LIMIT = 12

// Context
const { semesterId } = Astro.params
const { searchParams } = Astro.url
const { user } = Astro.locals

// Query parameters
let [{ data: page = 1 }, { data: q }, { data: orderQuery }] = await Promise.all(
  [
    pageQuerySchema.safeParseAsync(searchParams.get("page")),
    searchQuerySchema.safeParseAsync(searchParams.get("q")),
    orderQuerySchema.safeParseAsync(searchParams.get("order")),
  ]
)

// Count all courses
const totalCourses = await db
  .select({ count: count() })
  .from(courseTable)
  .leftJoin(semesterTable, sql`${courseTable.semesterId} = ${semesterTable.id}`)
  .where(
    sql`${courseTable.name} LIKE ${`%${q ?? ""}%`}
        AND ${courseTable.semesterId} = ${semesterId}
        AND ${semesterTable.userCode} = ${user.code}`
  )

const { count: totalCount } = totalCourses[0] ?? { count: 0 }
const totalPages = Math.ceil(totalCount / PAGE_LIMIT)

// Verify if page is a valid number
if (totalPages > 0 && page > totalPages) {
  page = 1
  searchParams.set("page", page.toString())

  return Astro.redirect(Astro.url.toString(), 302)
}

// Search the courses
const sorter = orderQuery === "asc" ? asc : desc
const courses = await db
  .select({
    id: courseTable.id,
    name: courseTable.name,
    semesterId: courseTable.semesterId,
    lastUpdateAt: courseTable.lastUpdateAt,
  })
  .from(courseTable)
  .leftJoin(semesterTable, sql`${courseTable.semesterId} = ${semesterTable.id}`)
  .where(
    sql`${courseTable.name} LIKE ${`%${q ?? ""}%`}
        AND ${courseTable.semesterId} = ${semesterId}
        AND ${semesterTable.userCode} = ${user.code}`
  )
  .orderBy(sorter(semesterTable.name))
  .limit(PAGE_LIMIT)
  .offset((page - 1) * PAGE_LIMIT)
---

<HomeLayout title="Ciclos">
  <header class="flex items-center gap-2">
    <LuBook className="size-7" />

    <h1 class="inline text-2xl font-bold">Cursos</h1>
  </header>

  <div role="none" class="bg-primary-400 my-4 h-px"></div>

  <CourseMainSection {courses} {page} {totalPages} {q} {orderQuery} />
</HomeLayout>
