---
import { ActionsDataDialog } from "@/core/components/molecules/actions-data-menu"
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/core/components/ui/card"
import type { Exam } from "@/exam/schema/exam-schema"

// Context
interface Props {
  exam: Exam
}

const { exam } = Astro.props
const { semesterId, courseId } = Astro.params
---

<article class="relative h-full max-h-56">
  <a href=`/semesters/${semesterId}/courses/${courseId}/exams/${exam.id}`>
    <Card className="h-full w-full rounded">
      <CardHeader className="flex flex-1 flex-col">
        <CardTitle className="max-w-[85%] truncate text-3xl">
          {exam.name}
        </CardTitle>

        <CardDescription className="mt-2">
          Ultima actualización: {
            exam.lastUpdateAt.toLocaleDateString("es-ES", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
            })
          }

          <br />

          <strong> Puntaje mínimo: </strong>
          {exam.minPassingScore}
        </CardDescription>
      </CardHeader>
    </Card>
  </a>

  <ActionsDataDialog
    client:load
    dataName="exam"
    data={exam}
    buttonClassName="absolute right-5 top-5"
  />
</article>
